@model IEnumerable<Job_Portal_MVC.Openings>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("Common_Navbar")

<h2>Index</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vacancy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vacancy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company)
            </td>
            <td>

                @Html.ActionLink("Apply", "Apply", "User", null, new { jobId = item.jobId })

            </td>

        </tr>
    }

</table>
