@model IEnumerable<Job_Portal_MVC.Models.Application>


<table class="table">
    <tr>

        <th>
            Name of the Applicant
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Openings.designation)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Openings.designation)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { applicationId = item.applicationId })
            </td>

        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "AppliedJob")
</div>

